html {
  box-sizing: border-box;
  height: 50%;
  border: 5px solid red;
}

body {
  box-sizing: border-box;
  height: 100%;
  border: 5px solid green;
}

.histogram {
  box-sizing: border-box;
  height: 100%;
  background-color: #ffffff;
  border: 5px solid blue;
  border-radius: 8px;
  padding: 16px 24px 24px 24px;
}

.histogram__bars {
  box-sizing: border-box;
  border: 5px solid yellow;
  height: 70%;
  display: flex;
  align-items: flex-end;
}

.histogram__bar {
  box-sizing: border-box;
  flex: 1 1 20px;
  margin-right: 1px;
  background: #4263eb;
}

.histogram__bar:last-child {
  margin-right: 0;
}

.histogram__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.histogram__title {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #212429;
  box-sizing: border-box;
  opacity: 0.8;
}

.histogram__link {
  display: block;
  color: #4263eb;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
  text-decoration: none;
}

.histogram__total {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 39px;
  display: block;
  color: #212429;
}
