@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.histogram {
  box-sizing: border-box;
  border: 1px solid #acb5bd;
  border-radius: 8px;
}

.histogram__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 24px 24px;
}

.histogram__header {
  box-sizing: border-box;
}

.histogram__header1 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.histogram__header2 {
  box-sizing: border-box;
  margin-top: 6px;
}

.histogram__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212429;
  opacity: 0.8;
}

.histogram__filter {
  margin-top: 3px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4263eb;
  opacity: 0.8;
}

.histogram__total {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  /* Black */
  color: #212429;
}

.histogram__visual {
  margin-top: 16px;
}

.histogram__bars {
  box-sizing: border-box;
  border: 5px solid red;
  /* height: 0px; */
  flex: 1 1 70px;
  display: flex;
  align-items: flex-end;
}

.histogram__bar {
  box-sizing: border-box;
  background-color: #4263eb;
  border: 5px solid yellow;
  flex: 1 1 30px;
}
