@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.histogram {
  box-sizing: border-box;
  width: 354px;
  height: 185px;
  border: 1px solid #acb5bd;
  border-radius: 8px;
}

.histogram__container {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.histogram__header {
  box-sizing: border-box;
}

.histogram__header1 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.histogram__header2 {
  box-sizing: border-box;
  margin-top: 6px;
}

.histogram__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Black */
  color: #212429;
  opacity: 0.8;
}

.histogram__filter {
  margin-top: 3px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Black */
  color: #4263eb;
  opacity: 0.8;
}

.histogram__total {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  /* Black */
  color: #212429;
}

.histogram__bars {
  border: 1px solid red;
  margin-bottom: 24px;
  display: flex;
  /* flex-direction: column-reverse; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: flex-end;
}

.bar__container {
  height: 30%;
  margin: 0 0.5px 0;
  border: 3px solid lightgreen;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
}

.histogram__bar {
  /* min-height: 30px; */
  border: 1px solid #4263eb;
  background-color: #4263eb;
}
